src/main/java/com/ValidateIbanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="ValidateIbanService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/ibanValidation/ValidateIbanService?xsd=1"/>
</xsd:schema>
</types>
<message name="validate">
<part name="parameters" element="tns:validate"/>
</message>
<message name="validateResponse">
<part name="parameters" element="tns:validateResponse"/>
</message>
<message name="ValidateIban">
<part name="parameters" element="tns:ValidateIban"/>
</message>
<message name="ValidateIbanResponse">
<part name="parameters" element="tns:ValidateIbanResponse"/>
</message>
<message name="validateList">
<part name="parameters" element="tns:validateList"/>
</message>
<message name="validateListResponse">
<part name="parameters" element="tns:validateListResponse"/>
</message>
<portType name="ValidateIban">
<operation name="validate">
<input wsam:Action="http://soap/ValidateIban/validateRequest" message="tns:validate"/>
<output wsam:Action="http://soap/ValidateIban/validateResponse" message="tns:validateResponse"/>
</operation>
<operation name="ValidateIban">
<input wsam:Action="http://soap/ValidateIban/ValidateIbanRequest" message="tns:ValidateIban"/>
<output wsam:Action="http://soap/ValidateIban/ValidateIbanResponse" message="tns:ValidateIbanResponse"/>
</operation>
<operation name="validateList">
<input wsam:Action="http://soap/ValidateIban/validateListRequest" message="tns:validateList"/>
<output wsam:Action="http://soap/ValidateIban/validateListResponse" message="tns:validateListResponse"/>
</operation>
</portType>
<binding name="ValidateIbanPortBinding" type="tns:ValidateIban">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValidateIban">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ValidateIbanService">
<port name="ValidateIbanPort" binding="tns:ValidateIbanPortBinding">
<soap:address location="http://localhost:8080/ibanValidation/ValidateIbanService"/>
</port>
</service>
</definitions>